:root {
    --primary-col: #242424;
    --secondary-col: #f85050;
    --untyped-text: #3a3a3a;
    --typed-text: #f8f8f2;
    --wrong: #f83030;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-col);
    overflow: hidden;
}

.test {
    width: auto;
    height: 100vh;
    font-size: 20em;
    text-wrap: nowrap;
}

#text {
    overflow-x: hidden;
    color: var(--untyped-text);
    position: absolute;
}

#hidden-type {
    position: absolute;
    top: -9999px;
}

.cursor {
    color: var(--typed-text);
    border-bottom: 5px solid var(--typed-text);
    animation: blink_cursor 0.75s infinite;
}

@keyframes blink_cursor {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: var(--typed-text);
    }
}