:root {
    --primary-col: #ffffff;
    --secondary-col: #f85050;
    --untyped-text: #7e7e7e;
    --wrong: #f83030;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-col);
}

.test {
    width: auto;
    height: 100vh;
    font-size: 20em;
    text-wrap: nowrap;
}

#text {
    overflow-x: hidden;
}